<p class="text-secondary-emphasis">Nuevo  |  +1000 vendidos</p>
<span class="badge text-bg-success mb-3">MAS VENDIDO</span>
<h1>Tv Led TDA / Monitor 24 Pulgadas Kodak WE24MT005 Hd Ultra Bass Led Hdmi 220V</h1>
<del>$316.538</del>
<h2>$197.219 <span class="text-success fs-5">37% OFF Mismo precio en 12 cuotas de $16.434,92</span></h2>
<div>
    <a type="button" [href]="btn" class="btn btn-outline-primary me-2">Comprar ahora</a>
    <button type="button" class="btn btn-outline-secondary ">Agregar al carrito</button>
</div>
